.tm-team-member {
	position: relative;

	.position {
		font-size: 13px;
		font-weight: 500;
	}

	&.style-1 {
		@extend %transit;
		margin-bottom: 30px;
		border-radius: 5px;
		overflow: hidden;
		background: #fff;

		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, .09);

			.info {
				transform: translateY(0);
			}

			.social-footer {
				opacity: 1;
				visibility: visible;
			}
		}

		&.effect-grayscale {
			.photo {
				img {
					@extend %transit2;
					filter: grayscale(100%);
				}
			}

			&:hover {
				.photo {
					img {
						filter: none;
					}
				}
			}
		}

		.photo {
			img {
				width: 100%;
			}
		}

		.info {
			@extend %transit;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 27px 25px;
			background: #fff;
			transform: translateY(46px);
		}

		.name {
			font-size: 18px;
			margin-bottom: 3px;
		}

		.description {
			margin-top: 10px;
		}

		.social-footer {
			@extend %transit;
			visibility: hidden;
			opacity: 0;
			margin-top: 20px;
		}

		.social-networks {
			margin: 0 -10px;

			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				font-size: 18px;
				line-height: 1;
				color: #c0c0c0;
			}
		}
	}

	&.style-2 {
		.inner {
			display: flex;
		}

		.photo {
			flex-shrink: 0;

			img {
				border-radius: 5px;
			}
		}

		.info {
			position: relative;
			flex-grow: 1;
			padding: 11px 35px 85px 40px;
		}

		.name {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.38;
			margin-bottom: 5px;
		}

		.position {
			margin-bottom: 29px;
			font-size: 15px;
			font-weight: 600;
		}

		.social-networks {
			position: absolute;
			bottom: 55px;
			left: 38px;

			a {
				font-size: 18px;
				color: #c0c0c0;
				padding: 3px 8px;
			}
		}
	}

	&.style-3 {
		text-align: center;

		&:hover {
			.overlay {
				opacity: 1;
				visibility: visible;
			}

			.social-networks {
				transform: translateY(0);
				opacity: 1;
			}
		}

		.photo {
			position: relative;
			margin-bottom: 28px;
			overflow: hidden;
			border-radius: 10px;

			img {
				border-radius: 10px;
			}
		}

		.overlay {
			@extend %transit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, .4);
			opacity: 0;
			visibility: hidden;
		}

		.name {
			font-size: 20px;
			font-weight: 800;
			line-height: 1.35;
			margin-bottom: 4px;
		}

		.position {
			font-size: 15px;
			font-weight: 500;
		}

		.social-networks {
			@extend %transit;
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			width: 100%;
			opacity: 0;
			transform: translateY(20px);

			a {
				display: inline-block;
				width: 50px;
				height: 50px;
				line-height: 50px;
				background: #fff;
				color: #222;
				font-size: 18px;
				border-radius: 50px;
				margin: 5px;

				&:hover {
					color: #fff;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-team-member {
		&.style-2 {
			.inner {
				display: block;

				.photo {
					img {
						width: 100%;
					}
				}

				.info {
					padding: 40px 0 0;
				}

				.social-networks {
					position: static;
					margin-top: 20px;
				}
			}
		}
	}
}

